@model AudiobookBG.Web.ViewModels.Administration.Authors.AllViewModel

@{
    ViewData["Title"] = "All Authors";
}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('img/HomePage.jpg')">
    <div class="bg-blur container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="header-primary text-center">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
                <p>
                    <a class="btn btn-primary" asp-area="Administration" asp-action="Create" asp-controller="Authors">Create New</a>
                </p>

                <div class="row">
                    @foreach (var item in Model.All)
                    {
                        <div class="card mt-2 col-md-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><a href="@item.Url">@item.FullName</a></h5>
                                <a asp-area="Administration" asp-controller="Authors" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                                <a asp-area="Administration" asp-controller="Authors" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
